*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

body {
    /* Create a page-wide stacking context
    (so that negative margins work as you expect) */
    position:relative;
    z-index:0;
    color: #000000;
}

#main {
    min-height: 100vh;
    position:relative;
    z-index:1;
    background-color: #fff;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
    background-image: url("/resources/img/background.png");
    background-repeat: repeat;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 250px;
    width: 100%;
    background-image: url("/resources/img/bg.png");
    display: grid;
    padding: 50px;
}

footer > span {
    font-size: x-large;
    position:fixed;
    bottom: 90px;
    left: 70%;
}

footer > img {
    position: fixed;
    bottom: 60px;
    left: 50%;
    margin-left: -125px;
}

footer > a {
    position: fixed;
    bottom: 120px;
    left: 1%;
}

.username {
    color: rgba(255, 247, 0, 0.98);
}

.navbar {
    font-family: 'Lobster', Georgia, Times, serif;
    border-radius: unset;
    z-index:1;
    margin-bottom: 0;
}

.navbar-brand {
    border-radius: 5px;
}

.navbar-brand:hover {
    background-color: #aeae47;
}

.navbar-form {
    display: inline-block;
    position: relative;
}

.navbar-form-login-logout {
    display: inline-block;
    position: absolute;
    right: 0;
}

.btn-download {
    background-color: transparent;
    border-color: rgba(169, 222, 255, 0.98);
    color: rgba(169, 222, 255, 0.98);
}

.btn-download:hover {
    color: rgba(169, 222, 255, 0.98);
    box-shadow: 0 0 5px rgba(169, 222, 255, 0.98);
}

.btn-login {
    background-color: transparent;
    border-color: rgba(169, 222, 255, 0.98);
    color: rgba(169, 222, 255, 0.98);
}

.btn-logout {
    background-color: transparent;
    border-color: rgba(169, 222, 255, 0.98);
    color: rgba(169, 222, 255, 0.98);
}

.btn-login:hover {
    color: rgba(169, 222, 255, 0.98);
    box-shadow: 0 0 5px rgba(169, 222, 255, 0.98);
}

.btn-logout:hover {
    color: rgba(169, 222, 255, 0.98);
    box-shadow: 0 0 5px rgba(169, 222, 255, 0.98);
}

.navbar-link-custom {
    border-radius: 5px;
    margin-left: 60px;
    color: white;
}

.navbar-link-custom:hover {
    color: rgba(169, 222, 255, 0.98);
}

.nav-admin-settings {
    color: #ffef6b;
    border-radius: 5px;
    margin-left: 60px;
}

.nav-admin-settings:hover {
    color: #ffef6b;
}

.error-label {
    background-color: rgba(255, 95, 93, 0.29);
    color: rgba(0, 0, 0, 0.7);
}

.mb-5 {
    margin-bottom: 5px;
}

.pt-200 {
    padding-top: 200px;
}

.w-300 {
    width: 300px;
}

.w-30p {
    width: 30%;
}

.start-page-header {
    color: #4cae4c;
}

.zag {
    border: none;
    width: 95%;
    margin-left: 2.5%;
    height: 2px;
    background: #4cae4c;
    background-size: 10px 10px;
}

.settings-header {
    margin-left: 2.5%;
}

.setting-form {
    margin-left: 2.5%;
}

.pt-100 {
    padding-top: 100px;
}

.pt-50 {
    padding-top: 50px;
}


.link-text {
    font-size: large;
}

#btnUp {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    width: 100px;
    height: 100px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: transparent;
    background-image: url("/resources/img/arrowUp.png");
    background-size: cover;
}

#btnUp:hover {
    background-color: #d9534f;
    border-radius: 50px;
}

.btn-req-cancel {
    background-color: transparent;
    border: none;
    background-image: url("/resources/img/close-request.png");
    background-size: cover;
    width: 31px;
    height: 31px;
}
.btn-req-cancel:hover {
    background-color: #b85557;
    border-radius: 15px;
}

.slideshow-container {
    width: 40%;
    height: 20%;
    position: relative;
    margin: auto;
    padding-top: 25px;
}

.mySlides {
    display: none;
    max-height: 100%;
    max-width: 100%;
}

.slide-img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #5cb85c;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 99%;
    margin-left: 0.5%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("/resources/img/plus.png");
}

.search-input {
    margin-top: 1%;
    margin-left: 0.5%;
    width: 99%;
    height: 64px;
    font-size: 32px;
    background-image: url("/resources/img/search-icon.png");
    background-size: 46px;
    background-repeat: no-repeat;
    background-position: right;
}

.active, .collapsible:hover {
    background-color: #555;
}

.logo-footer {
    height: 250px;
    width: 250px;
    bottom: 0;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.contacts-second {
    display: block;
    text-align: left;
    padding-left: 10%;
    margin-bottom: 1%;
    font-size: x-large;
    /*font-family: Impact, Charcoal, sans-serif;*/
}

.contacts-main {
    /*font-family: American Typewriter, serif;*/
    font-size: 4vw;
}

.welcome-header {
    /*font-family: American Typewriter, serif;*/
    font-size: 4vw;
    text-align: center;
}

.contact-img {
    margin-right: 2%;
}

.header-subinfo {
    margin-top: 0;
    text-align: center;
}

#catalog-search-table {
    background: rgba(140, 184, 145, 0.51);
    /*font-family: "Arial Black", Gadget, sans-serif;*/
    width: 99%;
    margin-left: 0.5%;
    margin-bottom: 1%;
}

#catalog-search-table > tbody > tr > td {
    border: 1px solid #000000;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 1px;
    width: 50%;
}

#catalog-search-table > thead > tr > th {
    border: 1px solid #000000;
}

#catalog-search-table > tbody > tr:hover {
    background: rgba(128, 189, 255, 0.39);
}

.content, .collapsible {
    /*font-family: "Arial Black", Gadget, sans-serif;*/
}

.requests-input {
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent!important;
}

.requests-text-area {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: large;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
}

.requests-table {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: large;
    width: 100%;
    text-align: center;
}

.description-span {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: large;
}

#requestsTable {
    width: 100%;
    border-bottom: 1px solid #000000;
}

#requestsTable > tbody > tr > td {
    border: 1px solid #000000;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 10px;
}

#requestsTable > tbody > tr:hover {
    background-color: rgba(140, 184, 145, 0.45);
}

th {
    text-align: center;
}

.close-request-column {
    border-right: none!important;
    border-bottom: none!important;
}

.input-group-text {
    display: inline;
}

.custom-signUPIN-button {
    background-color: #0f6674;
    border-color: unset;
}

.custom-signUPIN-button:hover {
    background-color: #5cb85c;
}

.contacts-main-block {
    display: flex;
}

.contacts-left-section {
    width: 20%;
    display: inline;
}

.contacts-center-section {
    width: 60%;
    display: inline
}

.contacts-right-section {
    width: 20%;
    display: inline;
}

.discounts-table {
    margin: auto;
    margin-top: 30px;
    width: 50%;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: large;
}

.discounts-table > tbody > tr > td {
    width: 50%;
    border: 2px solid rgba(0, 0, 0, 0.51);
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 10px;
}

.discounts-table > tbody > tr:hover {
    background-color: rgba(140, 184, 145, 0.45);
}

/*#loading {*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 100;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*background-color: rgba(192, 192, 192, 0.5);*/
    /*background-image: url("/resources/img/preloader.gif");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
/*}*/

