*{
    margin:0;
    padding:0;
}

body{
    /* Create a page-wide stacking context
    (so that negative margins work as you expect) */
    position:relative;
    z-index:0;
    color: #5e5b64;
}

#main {
    min-height: 100vh;
    position:relative;
    z-index:1;
    background-color: #fff;
    box-shadow: 0 10px 5px rgba(0,0,0,0.25);
    background-image: url("/resources/img/background.png");
    background-size: cover;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: #212529;
    display: grid;
    padding: 50px;
}

footer > span {
    font-size: x-large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position:fixed;
    bottom: 90px;
    left: 70%;
}

footer > img {
    position: fixed;
    bottom: 60px;
    left: 50%;
    margin-left: -150px;
}

.navbar {
    border-radius: unset;
    z-index:1;
    background-color: #212529;
    color: white;
    margin-bottom: 0;
    font-family: Impact, fantasy, sans-serif;
}

.navbar-link-custom:hover {
    background-color: #4cae4c;
}

.navbar-brand {
    border-radius: 5px;
}

.navbar-brand:hover {
    background-color: #aeae47;
}

.navbar-form {
    display: inline-block;
    position: relative;
}

.navbar-form-login-logout {
    display: inline-block;
    position: absolute;
    right: 0;
}

.btn-download {
    background-color: transparent;
    border-color: #4cae4c;
    color: #4cae4c;
}

.btn-download:hover {
    color: #4cae4c;
    box-shadow: 0 0 5px #4cae4c;
}

.btn-login {
    background-color: transparent;
    border-color: #4cae4c;
    color: #4cae4c;
}

.btn-logout {
    background-color: transparent;
    border-color: #4cae4c;
    color: #4cae4c;
}

.btn-login:hover {
    color: #4cae4c;
    box-shadow: 0 0 5px #4cae4c;
}

.btn-logout:hover {
    color: #4cae4c;
    box-shadow: 0 0 5px #4cae4c;
}

.navbar-link-custom {
    border-radius: 5px;
    height: 50px;
    padding: 10px 50px;
    font-size: 15px;
}

.error-label {
    background-color: #d9534f;
    color: black;
    font-size: x-large;
}

.mb-5 {
    margin-bottom: 5px;
}

.pt-200 {
    padding-top: 200px;
}

.w-300 {
    width: 300px;
}

.nav-admin-settings {
    color: #ffef6b;
    border-radius: 5px;
    height: 50px;
    padding: 10px 50px;
    font-size: 15px;
}

.nav-admin-settings:hover {
    color: #ffef6b;
}

.start-page-header {
    color: #4cae4c;
}

.zag {
    border: none;
    width: 95%;
    margin-left: 2.5%;
    height: 2px;
    background: #4cae4c;
    background-size: 10px 10px;
}

.first-header {
    margin-top: 0;
}

.setting-form {
    margin-left: 2.5%;
}

.pt-100 {
    padding-top: 100px;
}

.link-text {
    font-size: large;
}

#btnUp {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    width: 60px;
    height: 60px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: transparent;
    background-image: url("/resources/img/arrowUp.png");
    background-size: cover;
}