<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
    <form id="logoutForm" th:action="@{/logout}" method="POST">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <h2>
        Admin Page, [[${userName}]] | <a href="/logout">Logout</a>
    </h2>
</div>

</body>
</html>