<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Catalog.title}]]</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <input class="search-input" id="catalog-search" type="text" th:placeholder="#{Catalog.search}"/>
    <table id="catalog-search-table"></table>
    <div th:each="element:${catalogItemsMap}">
        <button type="button" class="collapsible" th:text="${element.key}">Group name</button>
        <table class="content">
            <tr th:each="catalogItem:${element.value}">
                <td th:text="${catalogItem.name}"></td>
            </tr>
        </table>
    </div>
<button onclick="topFunction()" id="btnUp"></button>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>