<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Contacts.title}]]</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main" class="text-center">
    <div class="contacts-main">
        <span th:text="#{General.info}"></span>
    </div>
    <div class="contacts-main-block">
        <div class="contacts-left-section">
            <div class="contacts-second">
                <img src="/resources/img/a1.png">
                <img class="contact-img" src="/resources/img/viber.png">
                <span th:text="#{Contacts.mob.phone}"></span>
            </div>
            <div class="contacts-second">
                <img class="contact-img" src="/resources/img/phone.png">
                <span th:text="#{Contacts.phone}"></span>
            </div>
        </div>
        <div class="contacts-center-section">
            <img src="/resources/img/boss.png" style="width: 95%">
        </div>
        <div class="contacts-right-section">
            <div class="contacts-second">
                <img class="contact-img" src="/resources/img/unp.png">
                <span th:text="#{Contacts.unp}"></span>
            </div>
            <div class="contacts-second">
                <img class="contact-img" src="/resources/img/schedule.png">
                <span th:text="#{Contacts.work.schedule}"></span>
            </div>
        </div>
    </div>
<button onclick="topFunction()" id="btnUp"></button>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>