<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <!--NAVBAR-->
        <nav th:fragment="navbar(isAnon,userName)" class="navbar">
            <a class="navbar-link-custom" th:href="@{/welcome}">[[#{Navigation.main}]]</a>
            <a class="navbar-link-custom" th:href="@{/offerings}">[[#{Navigation.offerings}]]</a>
            <a class="navbar-link-custom" th:href="@{/make-request}">[[#{Navigation.make.online.request}]]</a>
            <a class="navbar-link-custom" th:href="@{/contacts}">[[#{Navigation.contacts}]]</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-admin-settings" th:href="@{/settings}">[[#{Navigation.settings}]]</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-admin-settings" th:href="@{/requests}">[[#{Navigation.requests}]]</a>
            <form class="navbar-form" th:action="@{/download/pl}" method="GET">
                <button class="btn btn-download" type="submit">[[#{Download.pricelist}]]</button>
            </form>
            <form class="navbar-form" th:action="@{/download/agreement}" method="GET">
                <button class="btn btn-download" type="submit">[[#{Download.agreement}]]</button>
            </form>
            <div class="navbar-form-login-logout">
                <span th:unless="${isAnon}" th:text="${userName}">Hello</span>
                <form th:if="${isAnon}" class="navbar-form" th:action="@{/login}" method="GET">
                    <button class="btn btn-login" type="submit">[[#{Nav.button.login}]]</button>
                </form>
                <form th:unless="${isAnon}" class="navbar-form" th:action="@{/logout}" method="POST">
                    <button class="btn btn-logout" type="submit">[[#{Nav.button.logout}]]</button>
                </form>
            </div>
        </nav>
        <!--FOOTER-->
        <footer th:fragment="footer">
            <img src="/resources/img/ipsiminski.png" class="img-fluid" alt="">
        </footer>
    </body>
</html>