<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<div>
    <form method="POST" th:object="${userForm}" th:action="@{/login}">
        <div>
            <input name="username" th:field="*{username}" type="text" placeholder="Username" autofocus="true"/>
            <span th:if="${badCredentials}" th:text="#{Login.failed.bad.credentials}">Login failed</span>
            <span th:if="${loginFailed}" th:text="#{Login.failed}">Login failed</span>
        </div>
        <div>
            <input name="password" th:field="*{password}" type="password" placeholder="Password"/>
        </div>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <button type="submit">Log In</button>
        <h4><a th:href="@{/registration}">Create an account</a></h4>
    </form>
</div>

</body>
</html>