<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Login.title}]]</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userForm.getUsername()})}"></div>
<div id="main">
    <div class="text-center pt-200">
        <form method="POST" th:object="${userForm}" th:action="@{/login}">
            <h1>[[#{Login.header}]]</h1>
            <span class="error-label mb-5" th:if="${badCredentials}" th:text="#{Login.failed.bad.credentials}">Login failed</span>
            <span class="error-label mb-5" th:if="${loginFailed}" th:text="#{Login.failed}">Login failed</span>
            <div>
                <input class="input-group-text mb-2 w-300" name="username" th:field="*{username}" type="text" th:placeholder="#{Field.username}" autofocus/>
            </div>
            <div>
                <input class="input-group-text mb-2 w-300" name="password" th:field="*{password}" type="password" th:placeholder="#{Field.password}"/>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button class="btn btn-success custom-signUPIN-button mb-2 w-300" type="submit">[[#{Button.login}]]</button>
        </form>
        <form method="GET" th:action="@{/registration}">
            <button class="btn btn-success custom-signUPIN-button mb-2 w-300" type="submit">[[#{Registration.link}]]</button>
        </form>
    </div>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>