<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Navigation.make.online.request}]]</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <div th:if="${#strings.isEmpty(result)}" class="text-center pt-100">
        <form method="POST" th:object="${requestForm}" th:action="@{/make-request}">
            <h1>[[#{Make.request.header}]]</h1>
            <table class="requests-table">
                <tr>
                    <td th:text="#{Make.request.name}+'*'"></td>
                </tr>
                <tr>
                    <td><input class="requests-input w-30p mb-2 " type="text" th:field="*{username}" th:placeholder="#{Request.username}" th:required="required" autofocus="true"/></td>
                </tr>
                <tr>
                    <td><span class="error-label mb-5" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error with data entered</span></td>
                </tr>
                <tr>
                    <td th:text="#{Make.request.organization}"></td>
                </tr>
                <tr>
                    <td><input class="requests-input w-30p mb-2" type="text" th:field="*{organization}" th:placeholder="#{Request.organization}"/></td>
                </tr>
                <tr>
                    <td><span class="error-label mb-5" th:if="${#fields.hasErrors('organization')}" th:errors="*{organization}">Error with data entered</span></td>
                </tr>
                <tr>
                    <td th:text="#{Make.request.phone}+'*'"></td>
                </tr>
                <tr>
                    <td><input class="requests-input w-30p mb-2" type="text" th:field="*{phone}" th:required="required" th:placeholder="#{Request.phone}"/></td>
                </tr>
                <tr>
                    <td><span class="error-label mb-5" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error with data entered</span></td>
                </tr>
                <tr>
                    <td th:text="#{Make.request.email}"></td>
                </tr>
                <tr>
                    <td><input class="requests-input w-30p mb-2" type="text" th:field="*{email}" th:placeholder="#{Request.email}"/></td>
                </tr>
                <tr>
                    <td><span class="error-label mb-5" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error with data entered</span></td>
                </tr>
            </table>
            <span class="description-span" th:text="#{Make.request.description}"></span>
            <div>
                <textarea rows="10" cols="100" class="requests-text-area" th:field="*{description}" th:placeholder="#{Request.description}"></textarea>
            </div>
            <div>
                <span class="error-label mb-5" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error with data entered</span>
            </div>
            <button class="btn btn-dark mb-5 w-300" type="submit" value="Submit">[[#{Size.requestForm.submit}]]</button>
        </form>
    </div>
    <div th:unless="${#strings.isEmpty(result)}" class="text-center pt-200">
        <h1 class="text-center pt-100" th:text="${result}"></h1>
        <a class="link-text" th:href="@{/welcome}" th:text="#{Navigation.back.to.main}"></a>
    </div>
    <button onclick="topFunction()" id="btnUp"></button>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>