<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Navigation.offerings}]]</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <table th:each="element : ${catalogItemsMap}">
        <th th:text="${element.key}"></th>
        <tr th:each="catalogItem:${element.value}">
            <td th:text="${catalogItem.name}"></td>
        </tr>
    </table>
<button onclick="topFunction()" id="btnUp"></button>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>