<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Registration.title}]]</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userForm.getUsername()})}"></div>
<div id="main">
    <div class="text-center pt-200">
        <form method="POST" th:object="${userForm}" th:action="@{/registration}">
            <h1>[[#{Registration.header}]]</h1>
            <div>
                <input class="input-group-text mb-2 w-300" type="text" th:field="*{username}" th:placeholder="#{Field.username}" autofocus/>
            </div>
            <span class="error-label mb-5" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error with data entered</span>
            <div>
                <input class="input-group-text mb-2 w-300" type="password" th:field="*{password}" th:placeholder="#{Field.password}"/>
            </div>
            <span class="error-label mb-5" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error with data entered</span>
            <div>
                <input class="input-group-text mb-2 w-300" type="password" th:field="*{confirmPassword}" th:placeholder="#{Field.confirm.password}"/>
            </div>
            <span class="error-label mb-5" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Error with data entered</span>
            <br>
            <button class="btn btn-success custom-signUPIN-button mb-5 w-300" type="submit" value="Submit">[[#{Registration.button}]]</button>
        </form>
    </div>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>