<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Navigation.requests}]]</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <div class="text-center pt-100">
        <table>
            <tr>
                <th th:text="#{Table.requests.header.id}">ID</th>
                <th th:text="#{Table.requests.header.username}">USERNAME</th>
                <th th:text="#{Table.requests.header.organization}">ORGANIZATION</th>
                <th th:text="#{Table.requests.header.phone}">PHONE</th>
                <th th:text="#{Table.requests.header.email}">EMAIL</th>
                <th th:text="#{Table.requests.header.description}">DESCRIPTION</th>
                <th th:text="#{Table.requests.header.status}">STATUS</th>
            </tr>
            <tr th:each="requestItem:${allRequests}">
                <th th:text="${requestItem.id}">ID</th>
                <th th:text="${requestItem.username}">USERNAME</th>
                <th th:text="${requestItem.organization}">ORGANIZATION</th>
                <th th:text="${requestItem.phone}">PHONE</th>
                <th th:text="${requestItem.email}">EMAIL</th>
                <th th:text="${requestItem.description}">DESCRIPTION</th>
                <th th:text="${requestItem.status}">STATUS</th>
                <th>
                    <button th:onclick="'reloadRequestsTable('+${requestItem.id}+');'" class="btn btn-danger">Close</button>
                </th>
            </tr>
        </table>
    </div>
    <button onclick="topFunction()" id="btnUp"></button>
</div>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>