<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Requests.title}]]</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
    <script type="text/javascript">
        let strings = [];
        strings['headerList'] = '[[${headerList}]]';
    </script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <div class="text-center pt-50 pb-5">
        <table id="requestsTable">
            <thead>
            <tr>
                <th th:text="#{Table.requests.header.id}">ID</th>
                <th th:text="#{Table.requests.header.username}">USERNAME</th>
                <th th:text="#{Table.requests.header.organization}">ORGANIZATION</th>
                <th th:text="#{Table.requests.header.phone}">PHONE</th>
                <th th:text="#{Table.requests.header.email}">EMAIL</th>
                <th th:text="#{Table.requests.header.description}">DESCRIPTION</th>
                <th th:text="#{Table.requests.header.status}">STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requestItem:${allRequests}">
                <td th:text="${requestItem.id}">ID</td>
                <td th:text="${requestItem.username}">USERNAME</td>
                <td th:text="${requestItem.organization}">ORGANIZATION</td>
                <td th:text="${requestItem.phone}">PHONE</td>
                <td th:text="${requestItem.email}">EMAIL</td>
                <td th:text="${requestItem.description}">DESCRIPTION</td>
                <td th:text="${requestItem.status}">STATUS</td>
                <td class="close-request-column">
                    <button th:onclick="'reloadRequestsTable('+${requestItem.id}+');'" class="btn-req-cancel"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button onclick="topFunction()" id="btnUp"></button>
</div>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>