<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Settings.title}]]</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <h1 class="settings-header" th:text="#{Settings.upload.catalog}"></h1>
    <div class="setting-form">
        <form enctype="multipart/form-data" th:action="@{/upload/catalog}" th:method="POST">
            <input name="file" type="file">
            <button class="btn btn-dark" type="submit" th:text="#{Settings.upload.upload}">Submit</button>
            <span th:text="${upload_catalog_status}"></span>
        </form>
    </div>
    <hr class="zag">
    <h1 class="settings-header" th:text="#{Settings.upload.agreement}"></h1>
    <div class="setting-form">
        <form enctype="multipart/form-data" th:action="@{/upload/agreement}" th:method="POST">
            <input name="file" type="file">
            <button class="btn btn-dark" type="submit" th:text="#{Settings.upload.upload}">Submit</button>
            <span th:text="${upload_agreement_status}"></span>
        </form>
    </div>
    <hr class="zag">
    <h1 class="settings-header" th:text="#{Settings.parse.catalog}"></h1>
    <div class="setting-form">
        <form th:action="@{/catalog/parse}" th:method="POST">
            <button class="btn btn-dark" type="submit" th:text="#{Settings.parse.catalog}">Submit</button>
            <span th:text="${parse_catalog_status}"></span>
        </form>
    </div>
    <hr class="zag">
    <h1 class="settings-header" th:text="#{Settings.upload.another}"></h1>
    <button onclick="topFunction()" id="btnUp"></button>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>