<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>[[#{Settings.title}]]</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <h1 class="text-center first-header" th:text="#{Settings.upload.pl}"></h1>
    <div class="setting-form">
        <form enctype="multipart/form-data" th:action="@{/upload/prices}" th:method="POST">
            <input name="file" type="file">
            <button type="submit" th:text="#{Settings.upload.upload}">Submit</button>
            <span th:text="${p_status}"></span>
        </form>
    </div>
    <hr class="zag">
    <h1 class="text-center" th:text="#{Settings.upload.agreement}"></h1>
    <div class="setting-form">
        <form enctype="multipart/form-data" th:action="@{/upload/agreement}" th:method="POST">
            <input name="file" type="file">
            <button type="submit" th:text="#{Settings.upload.upload}">Submit</button>
            <span th:text="${a_status}"></span>
        </form>
    </div>
    <hr class="zag">
    <h1 class="text-center" th:text="#{Settings.upload.another}"></h1>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>