<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="DcKHfkyXjwvrmcDssurGvcqGAdyFBhvuTYMYNL7cUd4"/>

    <title>[[#{Main.title}]]</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/common.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:insert="~{fragments::navbar(${isAnon},${userName})}"></div>
<div id="main">
    <div class="welcome-header">
        <span th:text="#{General.info}"></span>
    </div>
    <h1 class="header-subinfo">
        <span th:text="#{General.subinfo}"></span>
    </h1>
    <h1 class="header-production">
        <span th:text="#{General.production}"></span>
    </h1>
    <div th:insert="~{fragments::slideshow}"></div>
    <h2 class="mt-5 ml-10p" th:text="#{Header.advantages}"></h2>
    <table class="advantages-table">
        <tr>
            <td><img src="/resources/img/delivery.png"></td>
            <td th:text="#{Advantages.delivery}"></td>
        </tr>
        <tr>
            <td><img src="/resources/img/price.png"></td>
            <td th:text="#{Advantages.price}"></td>
        </tr>
        <tr>
            <td><img src="/resources/img/discount.png"></td>
            <td th:text="#{Advantages.discounts}"></td>
        </tr>
        <tr>
            <td><img src="/resources/img/noVAT.png"></td>
            <td th:text="#{Advantages.tap}"></td>
        </tr>
        <tr>
            <td><img src="/resources/img/quality.png"></td>
            <td th:text="#{Advantages.quality}"></td>
        <tr>
            <td><img src="/resources/img/fast.png"></td>
            <td th:text="#{Advantages.speed}"></td>
        </tr>
    </table>
    <h2 class="mt-5 ml-10p" th:text="#{Header.prices}"></h2>
    <div class="prices-full-header mt-3">
        <img src="/resources/img/form.png">
        <h4 class="prices-header" th:text="#{Price.header.forms}"></h4>
    </div>
    <table class="prices-table mt-2">
        <tr>
            <td th:text="#{Forms.first}"></td>
            <td>0, 0.8 [[#{Currency.by}]]</td>
        </tr>
        <tr>
            <td th:text="#{Forms.second}"></td>
            <td>0.12 [[#{Currency.by}]]</td>
        </tr>
        <tr>
            <td th:text="#{Forms.third}"></td>
            <td>0.4 [[#{Currency.by}]]</td>
        </tr>
    </table>
    <div class="prices-full-header mt-3">
        <img src="/resources/img/magazine.png">
        <h4 class="prices-header" th:text="#{Price.header.magazines}"></h4>
    </div>
    <table class="prices-table mt-2">
        <tr>
            <td th:text="#{Magazines.first}"></td>
            <td>5.0 [[#{Currency.by}]]</td>
        </tr>
        <tr>
            <td th:text="#{Magazines.second}"></td>
            <td>6.0 [[#{Currency.by}]]</td>
        </tr>
        <tr>
            <td th:text="#{Magazines.third}"></td>
            <td>7.0 [[#{Currency.by}]]</td>
        </tr>
        <tr>
            <td th:text="#{Magazines.fourth}"></td>
            <td>8.0 [[#{Currency.by}]]</td>
        </tr>
    </table>
    <button onclick="topFunction()" id="btnUp"></button>
</div>
<div th:insert="~{fragments::footer}"></div>
</body>
</html>